version: "3"
services:
  webserver:
    image: ltr136181/testprojekt-m169:latest
    container_name: webserver
    ports:
      - "80:80"
    volumes:
      - ./webserver-speicher:/usr/share/nginx/html
    restart: always

volumes:
  webserver-speicher:
